@use "../../base" as *;
@use "../../colors" as *;
@use "../../abstracts" as *;

body {
  @include flexbox(column, center, center);
  max-height: 100vh;
  // overflow: hidden;
  background-color: #f3f3f3;
}

.authentication-form-container {
  padding: 1rem;
  width: 366px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;

  .form-header {
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #0069b5;

    .logo-container {
      height: 2rem;
    }

    .title-container {
      height: 4rem;
      text-align: right;
      font-size: 24px;
      line-height: 4rem;
      border-bottom: 1px white solid;
    }

    .subtitle-container {
      height: 2rem;
      font-size: 0.8rem;
      line-height: 3rem;
    }
  }

  .form-container {
    // margin-bottom: 1rem;
    .form-element-container {
      .label-container {
        @include flexbox(row, center, left);
        color: $black-1;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 700;
        height: 2rem;
        align-items: vc;
      }
      .input-container {
        @include flexbox(row, center, left);
        position: relative;
        font-size: 14px;
        height: 2rem;

        .left-icon {
          position: absolute;
          left: 8px;
        }

        .right-icon {
          position: absolute;
          right: 8px;
          cursor: pointer;
        }

        svg {
          stroke: $black-5;
        }

        input {
          padding-left: 8px;
          background-color: transparent;
          padding-left: 2rem;

          &:focus:valid {
            background-color: #effff3;
            border-bottom: 2px solid #00b649;
          }
          &:valid {
            background-color: #effff3;
            border-bottom: 2px solid #00b649;
          }
          &:focus:invalid {
            background-color: #fff3f3;
            border: 2px solid #de5246;
          }
          &:invalid {
            background-color: #fff3f3;
            border-bottom: 1px solid #de5246;
          }
        }
      }
      .subtitle-container {
        @include flexbox(row, center, left);
        padding-left: 8px;
        height: 2rem;
        p {
          font-size: 11px;
          font-weight: 400;
          color: rgb(180, 180, 180);
        }
      }
      // &:hover:not(:focus) {
      //   p,
      //   label,
      //   ::placeholder {
      //     color: #7b61ff;
      //   }

      //   svg {
      //     stroke: #7b61ff;
      //   }

      //   input {
      //     border-bottom: 1px solid #7b61ff;
      //   }

      //   background-color: #f9f8ff;
      // }
    }

    .submit-button {
      @include dim(100%, 2rem);
      margin-top: 1rem;
      font-size: 0.8rem;
      background-color: #0069b5;
      color: white;
    }
  }
  .external-authentication {
    @include flexbox(column, center, center);
    // border-bottom: 1px solid $black-3;
    // padding-bottom: 1rem;
    // margin-bottom: 1rem;
    padding-top: 1rem;

    .auth-label {
      @include dim(100%, 2rem);
      @include flexbox(column, center, center);

      font-size: 10px;
      font-weight: bold;
    }

    .auth-links {
      @include dim(100%, 4rem);
      @include flexbox(row, center, space-around);

      .external-link {
        @include dim(30%, 2rem);
        @include flexbox(row, center, center);
        color: white;
        font-weight: bold;
        font-size: 12px;
        background-color: rebeccapurple;
      }
      .google {
        background-color: #de5246;
      }
      .facebook {
        background-color: #3b5998;
      }
    }
  }

  .form-footer {
    .footer-text-container {
      @include dim(100%, 2rem);
      @include flexbox(row, center, space-between);
      font-size: 10px;
    }

    .forgot-password {
      text-align: right;
      color: red;
      font-weight: bold;
    }
    .login-instead {
      text-align: left;
      color: blue;
      font-weight: bold;
    }
    .assoc-links {
      @include flexbox(row, center, flex-end);
      margin-top: 1rem;
      ul {
        @include flexbox(row, center, flex-end);
        align-items: flex-end;
        color: $black-5;
        li {
          padding-left: 1rem;
        }
      }
    }
  }
}
